@import 'variables';

.portal-main {
  position: relative;
  .portal-map {
    width: 100%;
    height: 100%;
  }
  .portal-left-list {
    position: absolute;
    top: 10px;
    left: 64px;
    width: 280px;
  }
  .portal-main-list {
    position: absolute;
    top: 10px;
    left: 360px;
    .portal-main-list-control {
      position: absolute;
      top: 40px;
      left: 710px;
    }
    .cluster-empty {
      color: #6e5398;
      font-size: 18px;
      line-height: 40px;
      text-align: center;
      display: block;
      width: 100%;
    }
    .portal-cluster-main {
      width: 700px;
      position: relative;
      .portal-cluster {
        background-color: $background-primary;
        height: 34px;
        width: 700px;
        overflow-x: scroll;
        padding-bottom: 8px;
        white-space: nowrap;
        position: relative;
        .portal-cluster-item {
          line-height: 30px;
          text-align: center;
          color: #fff;
          margin: 0 4px;
          .icon {
            position: absolute;
            top: -8px;
            right: -5px;
            color: #d81e06;
            cursor: pointer;
          }
        }
      }
      .icon {
        position: absolute;
        top: 0px;
        right: 0px;
        color: #d81e06;
        cursor: pointer;
      }
    }
    .portal-nodes-main {
      width: 700px;
      position: relative;
      .portal-nodes {
        background-color: $background-primary;
        height: 34px;
        width: 700px;
        padding-bottom: 8px;
        overflow-x: scroll;
        white-space: nowrap;
        position: relative;
        .portal-node-item {
          line-height: 30px;
          text-align: center;
          color: #fff;
          margin: 0 4px;
          .icon {
            position: absolute;
            top: -8px;
            right: -5px;
            color: #d81e06;
            cursor: pointer;
          }
        }
      }
      .icon-join {
        position: absolute;
        top: 0px;
        right: 15px;
        color: #13227a;
        cursor: pointer;
      }
      .icon-delete {
        position: absolute;
        top: 0px;
        right: 0px;
        color: #d81e06;
        cursor: pointer;
      }
    }
  }
  .portal-meun {
    background-color: $background-primary;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    .ant-menu {
      background: none;
      .ant-menu-item {
        .icon {
          margin-right: 8px;
        }
      }
    }
  }
  .portal-control {
    background-color: $background-primary;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    .ant-btn {
      margin: 5px auto;
      display: block;
    }
    .portal-control-line {
      .portal-control-line-item {
        margin: 8px 0;
      }
    }
    .portal-control-force {
      .force-date-tip {
        color: red;
      }
      > div {
        margin: 4px 0;
        > span {
          margin-right: 4px;
        }
      }
    }
    .portal-control-map {
      .portal-control-map-item {
        margin: 4px;
      }
      .ant-btn {
        display: inline-block;
        margin: 0px 4px;
      }
    }
  }
  .portal-info {
    background-color: $background-primary;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    .link-info {
      max-height: 160px;
      overflow: scroll;
    }
    .station-info {
      max-height: 160px;
      overflow: scroll;
      position: relative;
      .station-info-add {
        position: absolute;
        right: 22px;
        top: 0px;
      }
    }
  }
}

.cluster-info-model {
  max-height: 200px;
  overflow: scroll;
}

.small-title {
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 8px;
  color: #2db7f5;
}


