@import 'variables';

.portal-k-cluster {
  padding: 20px;
  background-color: $background-primary;
  border-radius: 5px;
  .ant-progress {
    position: absolute;
    bottom: 90px;
    right: 40px;
  }
}
